.main-body {
    height: 100vh;
    width: 100vw;
    background-color: #394867;
    border-radius: 0px;
    display: flex;
}

.sidebar {
    height: 100vh;
    width: 15vw;
    background-color: #212A3E;
    display: flex;
    flex-direction: column;
}

.right {
    display: flex;
    flex-direction: column;
    align-items: flex-end; /* Align content to the right */
}

.top {
    height: 15vh;
    width: 85vw;
    background-color: #394867;
    display: flex;
    justify-content: flex-end; /* Align content to the right */
}

.profileimage {
    border-radius: 50%;
    width: 70px;
    height: 70px;
    padding: 10px;
}
.logoimage { 
    
    border-radius: 50%;
    height: 15vh;
    width: 13vw;
    padding: 10px;
}

.break {
    width: 85vw;
    height: 1px;
    background-color: white;
}

.name {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 35px;
    margin: 10px;
    color: #F1F6F9;
}
.sidebar-item {
    display: flex;
    align-items: center;
    color: #ffffff;
    margin-bottom: 20px;
    cursor: pointer;
    transition: color 0.3s;
    margin-top:50px;
    padding: 10;
  }
  
  .sidebar-item i {
    margin-right: 10px;
    font-size: 24px;
  }
  
  .sidebar-item:hover {
    color: #ff9900; /* Change the color on hover */
  }
/* ProfilePage.css */
.bottom {
    height: 85vh;
    width: 85vw;
    background-color: #394867;
    display: flex;
}
.profile-page {
    background-color: #394867;
    color: white;
    padding: 20px;
    font-family: Arial, sans-serif;
  }
  
  .profile-section {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
  }
  
  .profile-section label {
    font-weight: bold;
  }
  
  .profile-section input[type="text"],
  .profile-section textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: none;
    background-color: #ffffff0d; /* Semi-transparent white background */
    color: white;
    border-radius: 4px;
    outline: none;
    margin-left: 100px;
  }
  
  .profile-section button {
    background-color: #6e84a3;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    margin-top: 10px;
  }
  
  .profile-section button:hover {
    background-color: #546b8c;
  }
  .labels{
    padding: 10;
    width: 50vw;
    height: 30px; 
    margin-top: 5;
  }
  
.box{
    width: 13vw;
    height: 4vh;
    background-color:  #6e84a3;
    border: 0.1px solid #394867;
}
.boxbig{
    width: 39vw;
    height: 10vh;
    background-color: #6e84a3;
}
.ibox{
  width: 13vw; 
  height: 5vh;
  border: 1px solid #394867; /* Border color for input fields */
  border-radius: 1px;
  outline: none;
  color: #212A3E;
}
.sbox2-input {
  width: 50vw;
  box-sizing: border-box; /* Include padding and border in the width */
  border: none;
  outline: none;
  background-color: transparent;
  padding: 5px;
  font-size: 14px;
  color: white;
}


.score-subdivision{
    display: flex;
    flex-direction: row;
}
.smallbox{
    width: 13vw;
    height: 4vh;
    background-color:  #212A3E;
    border: .5px solid #eaedf1; 

    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 25px;
}
.smallbox1{
    width: 30vw;
    height: 4vh;
    background-color:  #212A3E;
    border: .5px solid #eaedf1; 

    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 25px;
}
.sbox2{
    width: 50vw;
    height: 15vh;
    background-color:  #212A3E;
    border: .5px solid #eaedf1; 

    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 25px;
}
.sbox2-input {
  width: 50vw;
  box-sizing: border-box; /* Include padding and border in the width */
  border: none;
  outline: none;
  background-color: transparent;
  padding: 5px;
  font-size: 14px;
  color: white;
}

.smallbox3{
    width: 13vw;
    height: 4vh;
    background-color:  #212A3E;
    border: .5px solid #eaedf1; 

    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 25px;
}
.box{
    width: 3.5vw;
    height: 4vh;
    background-color:  #6e84a3;
    border: 0.1px solid #394867;
}
.box1{
    width: 4.33vw;
    height: 4vh;
    background-color:  #394867;
    border: 0.1px solid #394867;
}
.box2{
    width: 9vw;
    height: 4vh;
    background-color:  #394867;
    border: 0.1px solid #394867;
}
.boxbig{
    width: 39vw;
    height: 10vh;
    background-color: #6e84a3;
}


.tbox{
    background-color: #212A3E;
    width: 100px;
}
