/* LoginPage.css */
body {
    background-color: #394867;
  }
  .login{
    justify-content: center;
    align-items: center; 
    background-color: #212A3E;
  }
  .login-page {
    width: 30vw;
    height: 50vh;
    /* position: relative; */
    /* display: flex;
    flex-direction: column;
   */
    left: 50%;
    top: 50%;
    justify-content: center;
    padding: 20px;
    border-radius: 10px;
    background-color: #6e84a3;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    text-align: center;
    color: #e8eaee;
  }
  
  .form-group {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column; /* Stack label and input vertically */
    align-items: center; /* Center horizontally within the container */
  }
  
  label {
    margin-bottom: 5px; /* Add some space between label and input */
    color: #555;
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="password"] {
    width: 70%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
  }
  
  button {
    width: 50%;
    padding: 10px;
    background-color: #212A3E;
    color: #fff;
    font-size: large;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #394867;
  }
  
  .error-message {
    color: red;
    text-align: center;
    margin-top: 10px;
  }
  